body{
height: 100%;
}

h1 {color: red;}
p{color: white}

body{
    background-image: url("./xoooo.jpg") ;
    filter: brightness(600%);
    background-color: #cccccc;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

#ref{
position: relative;
border:1px solid red;
height: 700px;
}

#main{
    position: relative;
    border:1px solid rgb(0, 255, 98);
    height: 500px;
    width: 400px;
    top: 90px;
    }